body
{
	height: 100%;
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background-color: #EBE8F5;
}
html { 
 position:relative; 
 min-height:100%;
}
#page
{
	margin-bottom: 5px;
	
}
.littleMenu{
	font-family: Times New Roman;
	font-size: 15px;
	
	text-align: right;
	color: white;
	width: 100px;
	height: 150px;
	background-color: green;
	position: absolute;
	margin-top: 25px;
	margin-left: 350px;
}
 .littleMenu span{

 	margin-top: 5px;
 }
.footer {
	position: relative;
	bottom:0;	
	width: 100%;
	height: 200px;
	background: url(darkRedLine.jpg) ;
}
#header
{
	background: url(logoBg.png) ;
	margin-left: 120px;
	width: 210px;
	height: 145px;	
	box-shadow: 0 0 45px black;
	position:relative;
	z-index: 2;
}
	#tfheader{
		margin-top: -5px;
		margin-left: 800px;
		position: absolute;
		width: 300px;
	}
	#tfnewsearch{
		float:right;
		padding:20px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #1A40AA; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#1A40AA));
		background: -moz-linear-gradient(top,  #00adee,  #1A40AA);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#14348B));
		background: -moz-linear-gradient(top,  #0095cc,  #14348B);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
#logoSdu{
	position: absolute;
	background: url(logo_white.png) ;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 40px;
	width: 180px;
	height: 125px;
}

#content
{
    padding: 20px;
}

#sidebar
{

	padding: 20px 20px 20px 0;
}
.verticalLine {
	margin-top: 25px;
	position: absolute;
	width: 1px;
	height: 150px;
    background-color: #A19F9F;
}
#footer_logo{
	position: absolute;
	margin-left: 650px;
	margin-top: 70px;
	width: 130px;
	height: 85px;
	background: url(logosdu.png) ;
	background-repeat: no-repeat;
}
#lang_option{
	position: absolute;
	margin-left: 1150px;
	margin-top: 22px;
	width: 200px;
	height: 20px;
}

#mainmenu
{
	position:relative;
	z-index: 1;
	margin-top: -85px;
	height: 45px;
	background: url(bg1.gif) ;
	box-shadow: 0 0 10px #570707;

	
}

#mainmenu ul
{
	margin-left: 350px;
	padding:10px 20px 5px 20px;
	
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{

	font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  	color: #ededed;
  	text-shadow: 2px 2px 0px #2b2b2b, 4px 4px 0px rgba(0,0,0,0.15);
	background-color:transparent;
	font-size:19px;
	
	text-decoration:none;
	padding:11px 20px;
	border-radius: 0px 0px 5px 5px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: white;
	background-color:#7E1111;

	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
.thumbnails img {
	height: 80px;
	border: 4px solid #555;
	padding: 1px;
	margin: 0 10px 10px 0;
}

.thumbnails img:hover {
	border: 4px solid #00ccff;
	cursor:pointer;
}

.preview img {
	border: 4px solid #444;
	padding: 1px;
	width: 800px;
}